<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleUpload.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=poppins">
</head>

<body>

    <div id="uploadModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            
        
    
        <div class="Power_of_advertisement_container">
            <div class="unlock_advrtisement">
                <h2>Unlock the Power of Advertisement</h2>
            </div>
        <div class="advert_upload_container">
            <div class="upload_container2">
                <div class="choose_where_to_update">
                    <p>Please choose where you want to upload your Advert</p>
                </div>
                <div class="radio_buttons_conainer2">
                    <input type="radio" id="explorer" name="explorer_status" value="explorer">
                    <label for="explorer">Explorer</label><br>
                    <input type="radio" id="status" name="explorer_status" value="status">
                    <label for="status">Status</label>
                </div>
                <div class="my_Upload_button2">
                    <button class="#">Upload Img</button>
                </div>
                <div class="select_container">
                    <div class="plan_select2">
                        <p>Select Premium Plan</p>
                    </div>
                    <div class="select_down">
                        <label for="selected_value">Selected Value:</label>
                        <select id="selected_value" name="selected_value">
                            <option value="Option 1">Option 1 - Gold</option>
                            <option value="Option 2">Option 2 - Silver</option>
                            <option value="Option 3">Option 3 - Platinum</option>
                        </select>
                    </div>
                    <div class="preview_pic">
                        <div class="Display_content">
                            <div class="display_text">
                                <h1>Preview</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="preview_uploder_button">
                <button type="button">Upload</button>
            </div>
        </div>
    </div>
</div>
</div>

</body>

</html>